@media screen and (max-width: 800px) {

    /* Global overrides */

    a,
    img {
        padding: 0;
        margin: 0;
    }

    img::selection {
        background-color: transparent;
    }

    a {
        color: rgb(68, 84, 111);
    }

    a,
    label,
    input {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a:active,
    label:active {
        outline: none;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    html {
        background: rgb(74, 90, 116);
    }

    body {
        padding-top: 44px;
    }

    html,
    body {
        width: auto;
        overflow-x: hidden;
    }

    ins {
        display: none;
    }

    h1,
    h2,
    h3,
    strong {
        text-shadow: none !important;
    }

    .container-c {
        padding: 0;
    }

    #container {
        clear: none;
        margin: 0;
    }

    .page-footer {
        height: 64px;
        margin: 12px 12px;
        padding: 12px 0;
    }

    /* Hide unnecessary blocks */

    #nav-top,
    #nav,
    #city,
    #city-sel,
    #topnav-misc,
    #dv-top,
    #top,
    #desktop-switcher,
    .container-t,
    .container-b,
    .top-announce,
    .footer-navigation,
    .open-page-bottom,
    .nav-menu,
    .clip,
    .page-header,
    .page-footer .spr {
        display: none;
    }

    .open-page,
    .hgr {
        background: rgb(231, 232, 233);
    }

    .open-page {
        margin: 0;
    }

    /* Stretch content */

    #container,
    #index-top-news,
    .col-1 {
        width: auto;
    }

    #main {
        min-height: 100%;
        margin: 0;
        padding: 0;
    }

    #logo {
        display: inline-block;
        width: 63px;
        height: 28px;
        float: none;
        margin-top: calc(44px / 2 - 28px / 2);
        background-size: contain;
        background-color: transparent;
        background-image: url(/images/logo_mobile.png);
    }

    /* Navigation bar & site wrapper */

    html[data-nav-active="true"],
    body[data-nav-active="true"] {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }

    #header {
        transform: translate3d(0, 0, 0);
        transition: 0.3s transform ease;
        height: 44px;
        margin: 0;
        background: rgb(252, 42, 58);
        text-align: center;
        width: 100%;
    }
        .nav-mobile-trigger:checked ~ #header {;
            transform: translate3d(0, -100%, 0);
        }

    .nav-mobile {
        display: block;
        position: absolute;
        z-index: 1;
        background-color: rgb(74, 90, 116);
        top: 0;
        width: 100%;
        height: 44px;
        transition: 0.3s height ease;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
        .nav-mobile-trigger:checked ~ .nav-mobile {
            height: 100%;
            z-index: 3;
        }

    .nav-mobile-trigger {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .nav-mobile-trigger-label {
        position: absolute;
        top: calc(44px / 2 - 21px / 2 + 2px);
        left: 24px;
        transition: 0.3s left ease;
        z-index: 4;
        width: 21px;
        height: 21px;
        background: url(/images/menu_trigger.svg) 0 0 no-repeat;
        background-size: contain;
    }
        .nav-mobile-trigger:checked ~ .nav-mobile-trigger-label {
            left: calc(100% - 21px - 24px);
            position: fixed;
        }

    .nav-mobile-content {
        padding-top: 24px;
        text-align: left;
    }

    .nav-mobile-section {
        list-style: none;
        padding: 24px 0;
    }
        .nav-mobile-section:not(:first-child) {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }

    .nav-mobile-item {
        font-size: 20px;
    }
        .nav-mobile-item__link {
            padding: 12px 24px;
            display: block;
            color: rgb(255, 255, 255);
            -webkit-tap-highlight-color: initial;
        }

    /* Footer */

    #mobile-switcher {
        display: block;
        color: rgb(68, 84, 111);
        font: normal 11px sans-serif;
        text-decoration: underline;
    }

    /* Bottom hr */
    .spr.footer-spacer-mobile {
        display: inline-block;
        height: 10px;
        border: 0;
        margin-bottom: 22px;
    }
        .spr.footer-spacer-mobile:before {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            top: 5px;
            height: 10px;
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%,rgba(0, 0, 0, 0) 75%);
        }
        .spr.footer-spacer-mobile:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 10px;
            top: 0;
            left: 0;
            background: rgb(231, 232, 233);
        }

    /* ------ top-news ------ */
    .top-news-list {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .top-news-item {
        width: auto;
        height: auto;
        background: inherit;
    }
        .top-news-item:nth-of-type(n + 3) {
            display: none;
        }
        .top-news-item__image {
            max-width: 100%;
            height: 100%;
            width: 100%;
        }

    .top-news-item .top-news-item__caption {
        width: auto;
        padding: 12px 24px;
    }
}